[workspace]
members = [
  "ahrs",
  "bms",
  "common",
  "firmware/ads114s06",
  "firmware/imu",
  "firmware/imu-testing",
  "firmware/lis2mdl",
  "firmware/magnetometer-testing",
  "flight",
  "sam",
  "servo",
  "tel"
]
exclude = ["gui/src-tauri"]
resolver = "2"
