:root {
  font-family: Rubik, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  height: 100%;
  color: #f0f0f0;
  background-color: #3C3F41;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-shadow: 0px 8px 16px 5px rgba(0,0,0,0.3);
}
#root{
  height: 100%;
}
html{
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
@font-face {
  font-family: Rubik;
  src: url(./fonts/Rubik/static/Rubik-Medium.ttf);
}
@font-face {
  font-family: RubikLight;
  src: url(./fonts/Rubik/static/Rubik-Regular.ttf);
}
